header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem 3.5rem;
  color: white;

  .lang-nav-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  a {
    color: white;
  }
}
