<header class="header">
  <div class="content-wrapper">
    <div class="header-left">
      <div class="lang-switch">DE/EN</div>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item"><a href="#about-me">About me</a></li>
          <li class="nav-item"><a href="#skills">Skills</a></li>
          <li class="nav-item"><a href="#projects">Projects</a></li>
          <li class="nav-item"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <a class="header-logo" href="/">
      <img src="assets/images/oguz-logo-white-2.png" width="250" alt="Oğuz Akankan" />
    </a>
  </div>
</header>
