@use 'abstracts' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.5rem 3.5rem;
  color: white;

  .header-left {
    display: flex;
    align-items: center;
    gap: rem(24);

    .nav-list {
      display: flex;
      align-items: center;
      gap: rem(24);
      font-size: rem(20);
    }
  }

  a {
    color: white;
  }
}
