$color-primary: rgba(61, 207, 182, 1);
$color-bg: rgba(28, 28, 28, 1);
$color-white: #ffffff;
$color-text: rgba(255, 255, 255, 1);

$font-mono: 'Fira Code', monospace;
$font-sans: 'Karla', sans-serif;
